 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

h1, header {
Font:  Arial, strong, large;
color: black;
text-decoration: underline
}

h1{
    margin:10px 15px;
    padding: 5px;
}
h2{
    margin-left: 10px;
    padding: 5px;
}

p{
    margin: 10px;
    padding: 5px;
}
.picture{
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 5px;
}

nav{
    background-color: bisque;
    margin: 5px;
    padding: 5px;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    
    
}

nav ul li{

    padding: 0.5rem 0.75rem;
    
}
nav ul li a{
    text-decoration: none;
    color: blue;
}

form{
    
    margin-left: 20px;
    padding: 2px;
}

form fieldset label, input, button{
    display: flex;
}

fieldset label, input{
    
    margin-left: 10px;
}

div ol {
   
    padding: 0.5rem 0.75rem;
    
}

div ol li{
    margin-left: 10px;
    padding: 0.5rem 0.75rem;
    
}

div ol li  a{
  text-decoration: none;

}

.cat_label{
    text-decoration: none;
    display: inline-block;
    
   
}

.cat_pic{
   
    height: 200px;
    width: 200px;
} 

.cat_name{
    display: inline-block;
    margin: 10px;
   
    
}

div label, input, textarea, button{
    margin: 5px;
   
    padding: 0px;
    
}
legend{
    margin: 10px 20px;
    
}

.checkbox{
    display: inline-block;
}

.comment{
    display: flex;
    margin-top: 10px;
}
